<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//unpkg.zhimg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
    <script src="//unpkg.zhimg.com/jquery@2.1.1/dist/jquery.min.js"></script>
    <script src="//unpkg.zhimg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <title>Index Page</title>
</head>
<body>
<div class="text-center">
    <h5>Blog :
        <a href="/">Index</a> |
        <a href="/user/login">Login</a> |
        <a href="/user/changePassword">ChangePassword</a> |
        <a href="/user/register">Register</a> |
        <a href="/user/logout">Logout</a>
    </h5>
</div> <hr/>
<div class="text-center">
    <h1>Index Page</h1>
    {% if username %}
    <p>Welcome !!! {{ username }}</p>
    {% endif %}
    <p>You can go to <a href="/user/login">Login</a>.</p>
    {% if username %}
    <p>Or go to <a href="/user/logout">Logout</a>.</p>
    {% endif %}
    <p>Or go to <a href="/user/register">Register</a>.</p>
    <p>And you can also <a href="/user/changePassword">Change Your Password</a>.</p>
    <hr />
    <p>Wanna <a href="/user/delete">Delete</a> a usser?</p>
</div>
</body>
</html>