<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//unpkg.zhimg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
    <script src="//unpkg.zhimg.com/jquery@2.1.1/dist/jquery.min.js"></script>
    <script src="//unpkg.zhimg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <title>Delete!Oh No!</title>
</head>
<body>
<div class="text-center">
    <h5>Blog :
        <a href="/">Index</a> |
        <a href="/user/login">Login</a> |
        <a href="/user/changePassword">ChangePassword</a> |
        <a href="/user/register">Register</a> |
        <a href="/user/logout">Logout</a>
    </h5>
</div> <hr/>
<div class="text-center">
    <h1>Delete User!</h1>
    <form action="/user/delete" method="POST" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-4 control-label">User name</label>
            <div class="col-sm-4">
                <input name="username" id="username" type="text" placeholder="The nickname" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-4">
                <input name="password" id="password" type="password" placeholder="The password" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>